body{
    font-family: 'futura-pt', sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #f8f9fa;
  } 

  .navbar {
      font-size: 1.3rem;
  }
  
  .navbar-brand img{
    max-width:150px;
    display:inline-block;
  
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #2f3c5a;
    }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fa4663;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
    color: #fa4663;
    text-decoration: underline #2f3c5a;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: rem;
  }
  
  .navbar .btn {
    background-color: #fa4663;
    font-weight: "bold";
    border-color: #fa4663;
    box-shadow: 1px 1px 4px black;    
  }


  .fondo-primerafranja{
    background-image: url('/public/imagenes/cafayate202202.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
  
  .fondo-primerafranja h2{
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    
  }
  
  .fondo-primerafranja h3{
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px black;
  }
  
  @media (max-width: 768px) {
    .fondo-primerafranja h2{
        font-size: 2.5rem;
    }
  }
  
  .primerafranja-experiencias{
    background-image: url('/public/imagenes/cafayate202202.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
  
  .primerafranja-experiencias h2{
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    
  }
  
  .primerafranja-experiencias h3{
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px black;
  }
  
  @media (max-width: 768px) {
    .primerafranja-experiencias h2{
        font-size: 2.5rem;
    }
  }
  
  
  .color-blanco{
    color: white;
  }
  
  .color-celeste{
    color: #24dad1;
  }
  .color-azul{
    color: #2f3c5a;
  }
  .color-naranja{
    color: #fa4663;
  }
  .color-mandarina{
    color: #fa4663;
  }
  .color-marron{
    color: #A66253;
  }
  
  .bg-amarillo{
    background-color: #24dad1;
  }
  .bg-azul {
    background-color: #2f3c5a;
  }
  .bg-naranja {
    background-color: #fa4663;
  }
  .bg-mandarina{
    background-color: #fa4663;
  }
  .bg-marron{
    background-color: #A66253;
  }
  
  .fondo-primerafranja .container {
    padding: 200px 20px;
  }
  
  .fondo-primerafranja .btn-primary {
    color:#2f3c5a;
    background-color: #fa4663;
    border-color: #fa4663;
    box-shadow: 1px 1px 4px black;
    padding: 0px 5px;
    font-weight: 600;
  }
  
  .fondo-primerafranja .btn-primary:hover {
    color: #fa4663;
    background-color: #2f3c5a;
    border-color: #2f3c5a;
  }
  
  .image-i img{
        max-width: 80%;
        display:inline-block;
  }
  
  .image2-i img{
    max-width: 100%;
    display:inline-block;
  }
  
  .image-i, .image2-i{
    text-align: center;
  }
  
  .info-i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    font-size: 4rem;
    margin: 25px 0;
  }
  
  .info-i h2{
    font-size: 4rem;
    margin: 25px 0;
  }
  
  .info p{
      font-size: 1rem;
  }
  
  .info-i .text-center p{
    font-size: 1.3rem;
    margin: 25px 0
  }
  @media (max-width: 768px) {
    .image-i img{
    max-width: 60%;
    }
    h1{
    font-size: 2.5rem;
    }
    .info-i h2{
        font-size: 2.5rem;
        }
    .info-i .text-center p{
    font-size: .9rem;
    }
    .px-5 {
        padding: none;
    }
  }
  
  @media (max-width: 357px) {
    .h3, h3 {
        font-size: 1.4rem;
    }
  }
  
  .info2 h2{
    font-size: 3rem;
  }
  
  .card{
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgb(136, 136, 136);
  }
  
  .cards .row>* {
    padding: 10px;
  }
  
  .cards h3{
    font-size: 2rem;
  }
  
  .cards p{
    font-size: 1rem;
  }
  
  .card-body h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2f3c5a
  }
  
  .card-body p{
    font-size: 1rem;
  }
  
  .card .btn-primary {
    color:#2f3c5a;
    background-color: #fa4663;
    border-color: #fa4663;
    box-shadow: 1px 1px 4px black;
    padding: 0px 5px;
    font-weight: 600;
  }
  
  .card .btn-primary:hover {
    color: #fa4663;
    background-color: #2f3c5a;
    border-color: #2f3c5a;
  }
  
  .container-tarjetas {
    display: flex;
    overflow-x: auto;
  
  }
  
  .container-tarjetas::-webkit-scrollbar{
    height:10px;
    
  }
  
  .container-tarjetas::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(54, 62, 89, 0.171) 100%);
    border-radius: 20px;
  }
  
  .conteiner-tarjetas .card-footer{
    background-color: none;
    border-top: none;
    align-items: flex-end;
  }
  
  
  .text-sombra{
    text-shadow: 2px 2px 3px black
  }
  
  .info2 .btn-primary {
    color:#2f3c5a;
    background-color: #fa4663;
    border-color: #fa4663;
    box-shadow: 1px 1px 4px black;
    padding: 0px 5px;
    font-weight: 600;
  }
  
  .info2 .btn-primary:hover {
    color: #fa4663;
    background-color: #2f3c5a;
    border-color: #2f3c5a;
  }
  
  
  .entrada-destacada-blog{
    margin: 60px 0px;
  }
  
  .blog-bg-image-1{
    background-image: url('/public/imagenes/guemes02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .blog-info{
    padding: 80px;
  }
  
  .blog-info h4{
    font-size: 4rem;
  }
  
  @media (max-width: 357px) {
    .blog-info h4{
        font-size: 1.6rem;
    }
  }
  
  .entrada-destacada-blog .btn-primary {
    color:#2f3c5a;
    background-color: #fa4663;
    border-color: #fa4663;
    box-shadow: 1px 1px 4px black;
    padding: 0px 5px;
    font-weight: 600;
  }
  
  .entrada-destacada-blog .btn-primary:hover {
    color: #fa4663;
    background-color: #2f3c5a;
    border-color: #2f3c5a;
  }
  
  .pie .footer-image img{
    max-width: 30%;
    display:inline-block;
  }
  .pie{
    margin-top: 0px;
  }
  
  .nosotros .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nosotros .imageNosotros img{
    max-width: 100%;
    display:inline-block;
    text-align: center;
  }
  
  .nosotros h2 {
  font-size: 5rem;
  }
  